body{
    background-color: PaleGreen; font-family: Helvetica;
    text-align: center; 
  }
  button{
    width: 150px; height: 50px; color: orange;
    font-family: Heletiva; font-weight: bold;
  }
h1{ color: orange; font-size: 100px; font-family: Heletiva;} 
p { color: grey; font-size: 50px; font-family: Heletiva;}

img{ width: 250px;}
