body{
    backround color: gray; font-family: Helvetica;
    text-align: start; border: solid;
  }
  button{
    width: 150px; height: 50px; color: orange;
    font-family: Heletiva;
  }
h1{ color: orange; font-size: 100px; } 

img{ width: 250px;}
